$navBarHeight: 3rem;
$transitionSpeed: 0.3s;

* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100%;
    width: 100%;
}

.closing_side_bar {
    display: none;
    position: fixed;
    width: 40%;
    height: 100%;
    left: 0;
    z-index: 2;
}

.brand {
    font-size: 1.5rem;
    color: black;
    margin: 10px;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $navBarHeight;
    background: gray;
    align-items: center;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px;
    gap: 60px;
    height: 100%;
}

.nav_link {
    position: relative;
    color: black;
    transition: $transitionSpeed ease;
    height: 100%;
}
.nav_link a {
    text-decoration: none;
    color: black;
}

.nav_link a:hover {
    color: white;
}

.nav_toggler {
    cursor: pointer;
    display: none;
}


.line {
    display: block;
    height: 5px;
    width: 30px;
    background: black;
    margin: 5px;
}

.side_nav {
    display: none;
}

@media only screen and (hover: none) {
    .nav_toggler {
        display: block;
        transition: $transitionSpeed;
    }

    .nav_menu {
        left: -150%;
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .side_nav {
        display: block;
        gap: 2rem;
        position: fixed;
        height: calc(100% - #{$navBarHeight});
        width: 60%;
        background: lightgray;
        justify-content: center;
        align-items: center;
        z-index: 1;
        right: 0;
        bottom: 0;
        transition: $transitionSpeed ease;
        overflow-y: scroll;
    }

    .side_nav_close {
        top: 1rem;
        position: fixed;
        width: 100%;
        display: flex;
        z-index: 2;
    }

    .side_nav ul {
        list-style: none;
        flex-direction: column;
    }

    .side_nav_list {
        width: 100%;
    }

    .side_nav_link {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .side_nav_link:hover,
    .side_nav_close:hover {
        background: darkgray;
        cursor: pointer;
    }


    .side_nav a {
        text-decoration: none;
        color: black;
    }
    .line2:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: top left;
    }
    .line2:nth-child(2) {
    opacity: 0;
    }
    .line2:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: bottom left;
    }
}
