/* line 1, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
.main {
  height: 100%;
  width: 100%; }

/* line 11, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
.closing_side_bar {
  display: none;
  position: fixed;
  width: 40%;
  height: 100%;
  left: 0;
  z-index: 2; }

/* line 20, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
.brand {
  font-size: 1.5rem;
  color: black;
  margin: 10px;
  text-decoration: none; }

/* line 27, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: gray;
  align-items: center; }

/* line 35, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
.nav_menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 20px;
  gap: 60px;
  height: 100%; }

/* line 44, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
.nav_link {
  position: relative;
  color: black;
  transition: 0.3s ease;
  height: 100%; }

/* line 50, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
.nav_link a {
  text-decoration: none;
  color: black; }

/* line 55, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
.nav_link a:hover {
  color: white; }

/* line 59, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
.nav_toggler {
  cursor: pointer;
  display: none; }

/* line 65, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
.line {
  display: block;
  height: 5px;
  width: 30px;
  background: black;
  margin: 5px; }

/* line 73, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
.side_nav {
  display: none; }

@media only screen and (hover: none) {
  /* line 78, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
  .nav_toggler {
    display: block; }
  /* line 82, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
  .nav_menu {
    left: -150%;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    align-items: center; }
  /* line 91, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
  .side_nav {
    display: block;
    gap: 2rem;
    position: fixed;
    height: 100%;
    width: 60%;
    background: lightgray;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    right: 0;
    transition: 0.3s ease;
    overflow-y: scroll; }
  /* line 107, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
  .side_nav_close {
    top: 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 2; }
  /* line 115, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
  .side_nav ul {
    list-style: none;
    flex-direction: column; }
  /* line 120, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
  .side_nav_list {
    width: 100%;
    margin-top: 5rem; }
  /* line 125, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
  .side_nav_link {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  /* line 132, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
  .side_nav_link:hover,
  .side_nav_close:hover {
    background: darkgray;
    cursor: pointer; }
  /* line 139, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
  .side_nav a {
    text-decoration: none;
    color: black; } }

/* line 145, c:/users/szymo/onedrive/pulpit/studia/praca-dyplomowa/frontend/static/css/navbar.scss */
div {
  outline: 2px solid red !important; }
