/* line 6, frontend/static/css/styles.scss */
* {
  margin: 0;
  padding: 0; }

/* line 11, frontend/static/css/styles.scss */
.main {
  height: 100%;
  width: 100%; }

/* line 16, frontend/static/css/styles.scss */
.closing_side_bar {
  display: none;
  position: fixed;
  width: calc(100% - 20rem);
  height: 100%;
  right: 0;
  z-index: 2; }

/* line 25, frontend/static/css/styles.scss */
.nav {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2rem);
  height: 3rem;
  align-items: center; }

/* line 34, frontend/static/css/styles.scss */
.nav_toggler {
  display: block;
  transition: 0.3s; }

/* line 39, frontend/static/css/styles.scss */
.nav_menu {
  left: -150%;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  align-items: center; }

/* line 48, frontend/static/css/styles.scss */
.side_nav_collapsed {
  display: block;
  gap: 2rem;
  position: fixed;
  height: 100%;
  width: 3rem;
  background: lightgray;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  transition: 0.3s ease;
  overflow-y: scroll; }

/* line 63, frontend/static/css/styles.scss */
.side_nav_close {
  top: 1rem;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 2; }
