html {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  background-color: #e8e8e8 !important;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
}

.scroll-bar>div:last-child>div {
  background-color: #2e7d32 !important;
  opacity: 0.7;
}

ul.gorne-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.MuiContainer-root.main {
  background-color: #f5f5f5;
  border-radius: 24px;
}

.MuiDrawer-root .MuiPaper-root {}

.MuiToolbar-root {
  background-color: #e8e8e8 !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 80px !important;
  padding: 0 40px !important;
}

.MuiToolbar-root>div:first-child {
  margin-right: auto;
}

.MuiToolbar-root>button {
  border: 1px solid lightgrey;
  margin-right: 16px;
}

.MuiToolbar-root>div.profil>button {
  border: 1px solid lightgrey;
}

.MuiToolbar-root>div.profil>div.MuiTypography-root {
  font-size: 14px;
}

.MuiToolbar-root .MuiBox-root.profil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.pasek-gorny-tytul {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  max-width: fit-content;
}


.boczne-menu-link {
  width: 100%;
}

.boczne-menu-link .css-158rodi-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: transparent;
}

.boczne-menu-naglowek-tlo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

h2.boczne-menu-naglowek {
  font-size: 32px;
  font-weight: 500;
}

.boczne-menu>div ul li {}

.boczne-menu .MuiDrawer-paper {
  width: 256px;
}

.boczne-menu>div .css-10hburv-MuiTypography-root {
  font-size: 14px;
  color: gray;
}

.boczne-menu>div .css-1nxmd3h-MuiListItem-root.Mui-selected .css-10hburv-MuiTypography-root {
  font-weight: bold;
  color: #0b3d45;
}

.boczne-menu>div .css-1nxmd3h-MuiListItem-root.Mui-selected {
  font-weight: bold;
  background-color: transparent;
}

.modal .modal-box {
  background-color: white;
  margin: 32px;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
}

.modal .modal-box form {
  display: flex;
  flex-direction: column;
}

.modal .modal-box form h2 {
  display: flex;
  justify-content: center;
}

.modal .modal-box form .input {
  margin: 10px;
}

.dlugi {
  display: flex;
  flex-direction: column;
}

.dlugi ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

.dlugi .dlug>ul {
  background-color: white;
  height: 48px;
}

.dlugi .dlug .accordion-summary>div {
  display: flex;
  flex-direction: column;
}

.dlugi .dlug .progress-bar {
  height: 8px;
  width: 100%;
  border-radius: 5px;
  background-color: lightgray;
}

.MuiBox-root.profil-akcja {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}